<h2>Edit survey</h2>

<%= render "form.html", changeset: @changeset,
                        action: survey_path(@conn, :update, @survey) %>

<%= link "", to: survey_path(@conn, :index), class: "btn btn-primary glyphicon glyphicon-chevron-left", role: "button" %>
